{% extends "base.html" %}

{% block content %}
<p></p>
<div class="container">
{% if form.errors %}
<p>Su usuario y password no coinciden. Por favor trate nuevamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Para proceder, por favor ingrese con una cuenta con acceso.</p>
    {% else %}
    <h5><p>Por favor registrese para permitir el ingreso.</p></h5>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn btn-secondary grey" type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

<!--{# Assumes you setup the password_reset view in your URLconf #}
<p></p>
<p><a href="{% url 'password_reset' %}">Olvidó su passwords?</a></p>
</div> -->
{% endblock %}